.see-details {
  display: flex;
  justify-content: center;
  background-color: #1A122B;
  color:white;
  padding: 5px ;
  border-radius: 50px;
  max-width: 150px;
}

.see-details:hover {
  background-color: #234497;
  cursor: pointer;
}

.see-details:active {
  box-shadow: inset 0 0 7px #16388f;
}

.hide-details {
  display: flex;
  justify-content: center;
  background-color: #3662D1;
  color:white;
  padding: 5px ;
  border-radius: 50px;
  max-width: 150px;
}

.hide-details:hover {
  background-color: #234497;
  cursor: pointer;
}

.hide-details:active {
  box-shadow: inset 0 0 7px #16388f;
}